<div class="border-end mt-3" id="sidebar-wrapper" th:fragment="menu">

    <div class="list-group list-group-flush">

        <a class="bg-secondary text-white list-group-item list-group-item-action p-3"
           href="/enlaces">ADMINISTRADOR</a>
        <a class="bg-secondary text-white list-group-item list-group-item-action p-3"
           href="/colonias">ENLACE</a>
        <a class="bg-secondary text-white list-group-item list-group-item-action p-3"
           href="/incidencias">PRESIDENTE</a>

    </div>

</div>